body {
  background-color: #0c192a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 35px 0px 25px 0px;
  height: auto;
  background-color: #0b1526;
  color: white;
}

header h3 {
  font-weight: normal;
  padding-left: 5%;
  text-align: left;
  margin: auto;
}

.navBar {
  background-color: #0b1526;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 5%;
  text-align: left;
  margin: auto;
}

.navBar a {
  padding-right: 10px;
  margin: auto;
}

.lineDiv {
  width: 90%;
  margin: auto;
  border: none;
  height: 1px;
  background-color: #313438;
}

.dark-blue {
  background-color: #0b1526;
}

.dark-gray {
  background-color: #1c1d1d;
}

a:link, a:visited {
  color: #7fccbd;
  text-decoration: none;
}

footer {
  padding: 35px 0px 25px 0px;
  height: auto;
  background-color: #0b1526;
  color: white;
}

.fa {
  font-size: 16pt;
  margin: auto;
  padding: 6px;
}

.container {
  padding: 80px;
  margin: auto;
}

.inner-container {
  margin: auto;
  width: 94%;
}

.welcome-card {
  float: left;
  width: 50%;
  min-width: 400px;
  margin: auto;
  background-color: #1c1d1d;
  height: 600px;
}

.welcome-card div {
  padding-top: 25%;
  margin: auto;
}

.project-card {
  width: 30%;
  min-width: 400px;
  margin: 12px;
  padding: 10px;
  padding-top: 20px;
}

.project-card:hover {
  background-color: #4695df20;
}



.centered {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

